---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
I like to work with <span class="post-tag"><a href="tags/vuejs">vuejs</a></span>. Check out some of my personal projects below, or check out my <a href="/uses">uses page</a>.

<h1>Personal projects</h1>

<section>
<div class="project">
<!-- <div class="shine"></div> -->
<a href="https://my-gpt.net/"><img class="app-logo" src="img/igpt_icon.png" /></a>
<h3>iGPT</h3>
<small><a href="https://github.com/hhofner/iGPT">Source</a></small>
</div>
</section>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
