---
layout: layouts/home.njk
eleventyNavigation:
  key: Uses
  order: 4
---

<h1>Uses</h1>

I've always loved the idea of showing off what tools you use often, or ones you really appreciate.

Check out other people's uses pages at <a href="https://uses.tech/">uses.tech</a>.

<h2>Software</h2>

<h2>Hardware</h2>
